.result-box {
    padding: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.63);
    display: flex;
    justify-content: space-between;

    .result-content {
        color: black;
    }

    .chevron {
        display: none;
        height: 18px;
    }

    &:hover {
        background-color: rgba(128, 128, 128, 0.63);

        .chevron {
            display: inline-block;
        }
    }
}