.current-weather-box {
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 20px;

    .loader {

    }

    

    .title-box {
        display: flex;
        justify-content: space-between;

        .location-name {
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 1px;
            flex-grow: 1;
            border-bottom: 1px solid gray;
            margin-right: 40px;
            padding: 5px;
        }

        .star {
            height: 30px;
        }
    }

    .weather-box {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .icon {
            flex-grow: 1;
        }

        .content-box {
            margin: 25px;

            .celsius {
                font-size: 100px;
                font-weight: bold;
            }

            .feelslike {

            }

            .description {

            }
        }
    }
}