@import 'src/app/helpers/style-variables.scss';

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.locations-box {
    background-color: $section-background;
    // margin: 10px 20px;
    height: 150px;
    display: flex;
    width: 97%;

    .loader {

    }

    .location {
        margin: 10px;
        background-color: $sub-section-background;
        display: flex;
        align-items: center;
        text-align: center;
        width: 130px;
        height: 130px;
        justify-content: center;
    }
}