<div class="forecast-weather-box">
    <img *ngIf="!forecastWeather" [src]="loaderIcon" class="loader">
    <div class="list-box">
      <div *ngFor="let day of forecastWeather" class="day">
        <div class="date">{{ day.date }}</div>
        <img [src]="getIcon(day.Timeframes[3].wx_icon)" class="icon">
        <div class="temprature">{{ day.temp_min_c }}° - {{ day.temp_max_c }}°</div>
        <div class="times-table">
          <div *ngFor="let timeframe of day.Timeframes" class="time-box">
            <div class="time">{{ timeframe.time | uTCtime }}</div>
            <div class="desc">{{ timeframe.wx_desc }}</div>
            <img [src]="getIcon(timeframe.wx_icon)" class="icon">
          </div>
        </div>
      </div>
    </div>
  </div>