@import 'src/app/helpers/style-variables.scss';

section {
    display: flex;

    .sub-section {
        background-color: $section-background;
        margin: 20px;
        width: 50%;
        height: fit-content;
    }
}

.loader-box {
    display: flex;
    justify-content: center;

    .loader {
        height: 280px;
    }
}