body {
    width: 98vw;
    background: url('assets/wallpaper.jpg');
    background-size: cover; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}